body {
	background-color: $greenColor;
	color: #9c9494;
	font: 1em sans-serif;
	height: 3000px;
}

// ============ Custom Scrollbar ==============
::-webkit-scrollbar {
	width: 7.5px;
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;

	// Hover
	&:hover {
		opacity: 1;
		background-color: #fff;
	}
}

/* FRAMEWORK ============================== */
li {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus {
	outline: none;
}
